@import "mixins";
@import "variables";

.widget {
  width: 100%;
  height: $widget-height;

  color: $panel-top-text-color;
  text-align: center;

  background-color: $primary-color;
  @include context-colors;

  .title {
    line-height: $widget-height;
    font-size: 64px;
  }

  g.series path.line {
    fill: none;
    stroke-width: 4px;
    stroke: $primary-color;

    @include context-colors('stroke');
  }

  g.axis {
    .tick text {
      fill: $panel-top-text-color;
    }

    path {
      fill: none;
      stroke: $panel-top-text-color;
    }
  }
}