@import "variables";

.widget {
  width: 100%;
  height: $widget-height;

  color: $panel-top-text-color;
  text-align: center;

  background-color: $panel-default-background-color;

  .title {
    line-height: $widget-height;
    font-size: 64px;
  }

  &-success {
    background-color: $panel-success-background-color;
  }

  &-warning {
    background-color: $panel-warning-background-color;
  }

  &-danger {
    background-color: $panel-critical-background-color;
  }

  &-unknown {
    background-color: $panel-unknown-background-color;
  }

  &-blue {
    background-color: $panel-blue-background-color;
  }

  g.series path {
    fill: none;
    stroke-width: 4px;
  }

  g.axis {
    .tick text {
      fill: $panel-top-text-color;
    }

    path {
      fill: none;
      stroke: $panel-top-text-color;
    }
  }
}