@import "variables";

.widget {
  width: 100%;
  height: $widget-height;

  color: $panel-top-text-color;
  text-align: center;

  background-color: $primary-color;
  &-success { background-color: $success-color; }
  &-warning { background-color: $warning-color; }
  &-critical { background-color: $critical-color; }
  &-unknown { background-color: $unknown-color; }
  &-blue { background-color: $secondary-color; }

  .title {
    line-height: $widget-height;
    font-size: 64px;
  }

  g.series path.line {
    fill: none;
    stroke-width: 4px;
    stroke: $primary-color;

    &-success { stroke: $success-color; }
    &-warning { stroke: $warning-color; }
    &-critical { stroke: $critical-color; }
    &-unknown { stroke: $unknown-color; }
    &-blue { stroke: $secondary-color; }
  }

  g.axis {
    .tick text {
      fill: $panel-top-text-color;
    }

    path {
      fill: none;
      stroke: $panel-top-text-color;
    }
  }
}